@color_fondo: #3b3b3b;

#reproductor {
    #mediaplayer {
        border: 3px solid @color_fondo;
        margin: 2px;
    }
    #mediaplayer-titulo {
        padding: 10px;
        font-size: 1.1em;
    }
}