<div class="header">Fecha</div>
<div class="texto"></div>
<div class="filtrandos">

    <label for="desde">Desde</label> <input id="desde" name="desde" class="date"></input>
    <label for="hasta">Hasta</label> <input id="hasta" name="hasta" class="date"></input>

</div>