.redondeado (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

div.editar_form {
    .redondeado(10px);
    width: 500px;
    padding: 10px;
    background: white;
    height: auto !important;

    label {
        display: block;
        clear: left;
        margin-top: 8px;
    }

    input, textarea { width: 430px; }
    textarea#descripcion { height: 110px; }

}

.opacity(@op:100)
{
    filter:alpha(opacity=@op);
    -moz-opacity:@op/100;
    -khtml-opacity:@op/100;
    opacity:@op/100;
}

.video_clip {
    height: 165px;
    padding-top: 10px;

    float: none;
    position: relative;

    font-size: 13px;
    line-height: normal;

    clear: both;


/**
    &.seleccionado {
        background-color: #202020;
        .opacity(100);

        img {
            .opacity(100);
        }
    }

    &.programa {
        .titulo {
            text-align: center;
            font-size: 1.2em;
        }
        .tiempo {
            text-align: center;
            width: 175px;
        }
    }

    img {
        cursor: pointer;
        float: left;
        padding: 0 10px;
    }

    **/

    &:hover {
        background: #EEEEEE;
    }



    > div {
        float: left;
        margin-left: 10px;
        height: 165px;
        overflow: auto;

        th {
            text-align: right;
            margin-right: 4px;
        }

        &.thumbnail {
            width: 280px;

            img {
                height: 155px;
            }
        }

        &.redaccion {
            width: 380px;

            .titulo {
                font-weight: bold;
                font-size: 110%;
                padding-bottom: 5px;
            }
        }

        &.detalles {
            width: 250px;
        }

        &.opciones {
           width: 150px;
        }

        &.acciones a {
            background-repeat: no-repeat;
            display: block; float: left;
            padding-left: 20px;
            margin: 3px;
            &.link { background-image: url(../resources/img/application_link.png) }
            &.despublicar { background-image: url(../resources/img/application_form_delete.png) }
            &.editar { background-image: url(../resources/img/application_edit.png) }
        }

    }



//    .duracion {
//            position: absolute;
//            top: 85px;
//            right: 15px;
//            font-size: 0.90em;
//            background: black;
//            padding: 3px;
//            border: 1px solid #666;
//            .redondeado(4px);
//            .opacity(65);
//        }

}
