<div class="thumbnail"><img width="175" height="100" src="<%= this.clip.thumbnail_pequeno %>" alt="<%= this.clip.titulo %>" /></div>
<div class="titulo"><%= this.clip.titulo %></div>
<div class="duracion"><%= this.clip.duracion %></div>
<div class="tiempo"></div>