<div id="mediaplayer"></div>
<div class="opciones"><a href="#" class="detalle">AMPLIAR</a> <span><img src="resources/img/sociales.png" style="vertical-align: middle;" /></span></div>
<div class="titulo"></div>
<div class="descripcion"></div>