<div id="player_wrapper"><div id="mediaplayer"></div></div>
<div class="opciones">
<span class="fecha"></span>
<a href="#" class="descarga">DESCARGAR</a>
<!--<span>-->
   <!--<div id="sociales0" style="float: right; padding-top:3px; height: 22px;" class="addthis_default_style ">-->
       <!--<a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:lang="<%= this.idioma %>" fb:like:width="70"></a>-->
       <!--<a style="width: 75px;" tw:lang="<%= this.idioma %>" tw:count="none" class="addthis_button_tweet"></a>-->
       <!--<a class="addthis_button_google_plusone" g:plusone:size="medium" g:plusone:width="75"></a>-->
   <!--</div>-->
<!--</span>-->
</div>
<div class="titulo"></div>
<div class="descripcion"></div>
