<div class="menu_modos">
    <span class="tipo"></span>
    <div class="cambiar_modo"><a href="#" class="secciones">[modo secciones]</a> | <a href="#" class="populares">[modo populares]</a></div>
</div>

<div class="grupos"></div>

<div class="mas_grupos"><a href="#">+</a></div>