/* @rojo1 = #b40300; */

.video_grupo {

    &.cargando {
    }

    &:hover {
    }

    .cabeza {
        clear: both;
        display: none;
    }

    .clips_wrapper {
        overflow: hidden;

        .clips {
        }
    }

    a.paginacion {
        display: block;
        cursor: pointer;
        clear: both;

        &:hover {
        }
    }



}