.redondeado (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.video_navegador {
    width: 560px;

    .menu_modos {
        background: url(../resources/img/fondo_menu_modos.png);
        border-bottom: 1px solid black;
        height: 30px;
        font-size: 1.1em;
        text-align: center;
        position: fixed;
        z-index: 11;
        width: 560px;

        a {
            float: left;
            margin: 4px 0 0 10px;
            padding: 3px 5px;
        }

        a.activo {
            background-color: #333333;
            .redondeado;

        }
    }

    .grupos {
        padding-top: 40px;
    }

    .mas_grupos a {
        margin: 0 auto;
        width: 300px;
        padding: 0.3em 0.6em;
        display: none;
        background-color: #222222;
        .redondeado;
        display: block;
        text-align: center;

        color: #DDDDDD;

        &:hover {
            background-color: #333333;
        }

    }
}