@color_texto: black;
@color_fondo: white;

.video_navegador {

    .menu_modos {

        a {
            float: left;
        }

        a.activo {
            background-color: @color_texto;
            color: @color_fondo;
        }

        .cambiar_modo {
        }
    }

    .mas_grupos {
        display: none;
    }
}