.redondeado (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.opacity(@op:100)
{
    filter:alpha(opacity=@op);
    -moz-opacity:@op/100;
    -khtml-opacity:@op/100;
    opacity:@op/100;
}

.video_clip {
    width: 175px;
    height: 155px;
    padding: 10px 5px 0 5px;
    float: left;
    .opacity(80);
    position: relative;

    &.cargando {
        background: url(../resources/img/ajax_load.gif) no-repeat center 40px;
    }

    &:hover {
        background-color: #202020;
    }

    &.seleccionado {
        background-color: #202020;
        .opacity(100);

        img {
            .opacity(100);
        }
    }

    &.programa {
        .titulo {
            text-align: center;
            font-size: 1.2em;
        }
        .tiempo {
            text-align: center;
            width: 175px;
        }
    }

    img {
        .opacity(88);
        cursor: pointer;
    }

    .titulo {

    }

    .duracion {
            position: absolute;
            top: 85px;
            right: 15px;
            font-size: 0.90em;
            background: black;
            padding: 3px;
            border: 1px solid #666;
            .redondeado(4px);
            .opacity(65);
        }

    .tiempo {
            position: absolute;
            bottom: 5px;
            right: 10px;
            font-size: 0.80em;
        }
}

/** otros **/

#reproductor {
   /* background-image: url(../resources/img/fondo_clip_player.png) no-repeat */

}
