<fieldset class="fieldset" title="Datos del clip">
    <label for="titulo">Título <small>(máximo 60 caracteres)</small></label>
    <input maxlength="60" type="text" id="titulo" value="<%= this.clip.titulo %>" />

    <label for="descripcion">Descripción</label>
    <textarea cols="20" rows="3" id="descripcion"><%= this.clip.descripcion %></textarea>

    <!--<label for="categoria">Categoría informativa</label>-->
    <!--<input type="text" id="categoria" value="<%= this.clip.categoria.nombre %>" />-->
</fieldset>
<button class="cancelar">Cancelar cambios</button>
<button class="guardar">Guardar</button>


