<div id="pagina">
    <div id="arriba">
        <div id="idioma">
            <input name="idioma" id="idioma_es" type="radio" checked="checked"/> <label for="idioma_es">Español</label>
            <input name="idioma" id="idioma_en" type="radio"/> <label for="idioma_en">English</label>
            <input name="idioma" id="idioma_pt" type="radio"/> <label for="idioma_pt">Português</label>
            <input name="idioma" id="idioma_fr" type="radio"/> <label for="idioma_fr">Français</label>
            <input name="idioma" id="idioma_ar" type="radio"/> <label for="idioma_ar">العربية</label>
            <input name="idioma" id="idioma_cn" type="radio"/> <label for="idioma_cn">中國</label>
            <input name="idioma" id="idioma_ru" type="radio"/> <label for="idioma_ru">русском</label>
        </div>
        <div id="cabeza">

            <img name="header_completo" src="resources/img/header_completo.png" width="961" height="34" border="0" id="header_completo" usemap="#m_header_completo" alt="" />
            <map name="m_header_completo" id="m_header_completo">
            <area shape="rect" coords="883,0,961,34" href="javascript:;" alt="Idioma" id="idiomas_area" />
            <area shape="rect" coords="807,0,883,34" href="http://cms.tlsur.net:28080/Test/el-canal/senal-en-vivo" alt="Video en vivo" id="video_area" />
            <area shape="rect" coords="728,0,806,34" href="http://cms.tlsur.net:28080/Test/el-canal/senal-en-vivo" alt="Audio en vivo" id="audio_area" />
            <area shape="rect" coords="634,0,727,34" href="http://www.telesurtv.net/" id="inicio_area" alt="Inicio" />
            </map>

        </div>
        <div id="menu_tipos">
            <ul></ul>
            <div id="buscador"></div>
        </div>

    </div>
    <div id="centro">
        <div id="navegador"></div>
    </div>
    <div id="lado">
        <div id="reproductor"></div>
        <div id="publicidad" style="display:none;"></div>
    </div>
    <div id="abajo">

        <img name="footer" src="resources/img/fondo_pie.png" width="960" height="38" border="0" id="footer" usemap="#m_footer" alt="" /><map name="m_footer" id="m_footer">
        <area shape="rect" coords="184,6,258,34" href="http://itunes.apple.com/mx/app/telesur/id434935524?mt=8" title="TeleSUR para iPhone y iPad" alt="TeleSUR para iPhone y iPad" />
        <area shape="rect" coords="259,6,350,34" href="https://market.android.com/developer?pub=La+Nueva+Televisión+del+SUR" title="TeleSUR para Android" alt="TeleSUR para Android" />
        <area shape="rect" coords="335,6,370,7" href="javascript:;" alt="" />
        <area shape="rect" coords="352,6,443,34" href="http://appworld.blackberry.com/webstore/vendor/14971/?lang=EN" title="TeleSUR para BlackBerry" alt="TeleSUR para BlackBerry" />
        <area shape="rect" coords="910,0,947,38" href="http://video.latam.msn.com/browse/source?tag=esxl_telesur%3aesxl_telesur_noticias" alt="" />
        <area shape="rect" coords="848,0,885,38" href="http://www.dailymotion.com/teleSUR_tv" alt="" />
        <area shape="rect" coords="791,0,828,38" href="http://www.veoh.com/users/teleSURtv" alt="" />
        <area shape="rect" coords="733,0,770,38" href="http://espanol.video.yahoo.com/people/7021436" alt="" />
        <area shape="rect" coords="672,0,709,38" href="http://twitter.com/telesurtv" alt="" />
        <area shape="rect" coords="614,0,651,38" href="http://www.youtube.com/user/telesurtv" alt="" />
        <area shape="rect" coords="560,0,597,38" href="http://www.myspace.com/511565767" alt="" />
        <area shape="rect" coords="499,0,536,38" href="http://www.facebook.com/teleSUR" alt="" />
    </map>

    </div>
</div>
