<div id="pagina">
    <div id="arriba">
        <div id="idioma">
            <input name="idioma" id="idioma_es" type="radio" checked="checked"/> <label for="idioma_es">Español</label>
            <input name="idioma" id="idioma_en" type="radio"/> <label for="idioma_en">English</label>
            <input name="idioma" id="idioma_pt" type="radio"/> <label for="idioma_pt">Português</label>
            <input name="idioma" id="idioma_fr" type="radio"/> <label for="idioma_fr">Français</label>
            <input name="idioma" id="idioma_ar" type="radio"/> <label for="idioma_ar">العربية</label>
            <input name="idioma" id="idioma_cn" type="radio"/> <label for="idioma_cn">中國</label>
            <input name="idioma" id="idioma_ru" type="radio"/> <label for="idioma_ru">русском</label>
        </div>
        <div id="cabeza"></div>
        <div id="menu_tipos">
            <ul></ul>
            <div id="buscador"></div>
        </div>

    </div>
    <div id="centro">
        <div id="navegador"></div>
    </div>
    <div id="lado">
        <div id="reproductor"></div>
        <div id="publicidad"></div>
    </div>
    <div id="abajo"></div>
</div>