<div id="pagina">
    <div id="arriba">
        <div id="cabeza"></div>
        <div id="menu_tipos"><ul></ul></div>
    </div>
    <div id="centro">
        <div id="navegador"></div>
    </div>
    <div id="lado">
        <div id="reproductor"></div>
    </div>
    <div id="abajo"></div>
</div>