<div class="relacionados">
    <div class="header"></div>

</div>

<div class="visor">
    <div class="nav izq"></div>
    <div class="player"><div id="standalone_player"><img src="<%= this.clip.thumbnail_grande %>" /></div></div>
    <div class="nav der"></div>
    <div class="regresar"></div>
</div>

<div class="datos">
    <div class="sociales"></div>
    <div class="titulo"><h1><%= this.clip.titulo %></h1></div>
    <div class="descripcion"><%= this.clip.descripcion %></div>
</div>

<div class="comentarios">

</div>
